{% extends 'base.html' %}

{% block content %}
<h1> {{company.name}} </h1>

<p>Industry: {{company.industry}}</p>

<h3>Investors of {{company.name}}</h3>

<ul>
    {% for investor in investors %}
    <li>{{investor.name}}</li>
    {% endfor %}
</ul>

<h3>{{company.name}}'s historical valuation</h3>

<table>
    <thead>
    <tr>
      <th>Investment date</th>
      <th>Valuation</th>
    </thead>
    <tbody>
    </tr>
    {% for investment in investments %}
    <tr>
      <td>{{ investment['date'].strftime('%d %b %Y') }} </a></td>
      <td>£{{ investment['valuation'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


  {% endblock %}