body {
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#menu-wrapper > h1{
    display: inline;
}

#menu{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: table;
    margin: 0 auto;
  }

#home{
    background-color: whitesmoke;
}

#menu > li {
    float: left;

  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: tomato;
  }

li a:hover {
    background-color: slategray;
  }

