<!DOCTYPE html>
<html>
<head>
  <title>Code Capital Investment Platform</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<div id='menu-wrapper'>
    <ul id='menu'>
        <li style="float:left"><a class="active" href="/">Home</a>
        <li>
            <a href="/investments">Investments</a>
        </li>
        <li>
            <a href="/investors">Investors</a>
        </li>
        <li>
            <a href="/companies">Portfolio companies</a>
        </li>
    </ul>
</div>

</head>

<body>
    <section id="content">
      {% block content %}

      {% endblock%}
    </section>
</body>

</html>